@import 'main.less';

.container {
  margin: 100px 100px;
  background-color: @white;
  padding: 40px;
}

header {
  padding: 50px 10px 0px 10px;
  margin: 0 auto;
  text-align: center;
}

header img {
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  height: 150px;
  width: 150px;
}

.centerHelper {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 30px;
}

td:nth-child(2) {
  background-color: @gray;
  width: 100%;
  padding: 10px;
}

td:nth-child(1) {
  text-align: left;
  vertical-align: top;
  padding: 0 50px 0 0;
  font-weight: bold;
  font-size: 1.4em;
}

h3 {
  color: @primary-color;
}

hr {
  border: 2px solid @gray;
}

h1,
h3 {
  margin: 10px 0px;
}

h4 {
  margin: 0 0 10px 0;
  font-size: 1.4em;
}

.aboutMe {
  padding: 10px 0 10px 0;
}
table {
  border-collapse: separate;
  border-spacing: 0px 20px; /* 水平间距 垂直间距 */
}

.year,
.discription {
  display: inline;
  width: 300px;
}
